<h3></h3>




<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
        	<span class="card-title">{{product.name}}</span>
          	<p>Nombre: {{input value=product.name type="text" placeholder="E.g: Milk, Egg"}}</p>
			<p>Calorias: {{input value=product.calories type="number" placeholder="E.g: 50, 250"}}</p>
			<button {{action 'editProduct'}}>Editar</button>
			{{!-- <button{{action 'deleteProduct'}}>Eliminar</button> --}}
			
			<a class="btn-floating halfway-fab waves-effect waves-light red" {{action 'deleteProduct'}}><i class="material-icons">delete_forever</i></a>
        </div>
      </div>
    </div>
  </div>