{{outlet}}

<h1>CRUD for products</h1>

<h2>Create</h2>

<form  {{action 'createProduct' on="submit"}}>
	<p>Nombre: {{input value=name type="text" placeholder="E.g: Milk, Egg"}}</p>
	<p>Calorias: {{input value=calories type="number" placeholder="E.g: 50, 250"}}</p>
	<button>Create</button>
</form>

<h2>Read, Update and Delete</h2>

{{#each model as |product|}}
	{{product-detail product=product 
		onDeleteProduct=(action 'deleteProduct' product)
		onEditProduct = (action 'updateProduct' product)
	}}
{{else}}
	<h3>No products available</h3>
{{/each}}