<h1>GET - READ Meals	</h1>
{{#each model as |meal|}}
	<p>{{input value=meal.name}}
		<button {{action 'editMeal' meal}} >Editar</button>
		<button {{action 'deleteMeal' meal}} >Eliminar</button></p>
{{/each}}
<br>
<br>

<form {{action 'sendMeal' on="submit"}}>
	<p>Agregar una comida</p>
	{{input type="text" value=meal}}
	<button disabled={{if isSaving "true"}}>Agregar</button>
</form>
<br>
<br>
{{input type="text" value=dog}}
{{dog}}
<br>
{{input type="text" value=cat }}
{{cat}}
<br>
<br>
<br>
<button {{action 'doSomething'}} >Click</button>

<p>My lucky day:</p>
<button {{action 'myLuckyDay' on='click'}} >Calculate</button>
{{luckyDay}}

<br>
<br>
<br>Agregar un nuevo día:
<br>
{{input type="text" value=newDay}}<button {{action 'addDay' on="click"}}>Add new day</button>

<br>
<br>
<ul>
{{#each weekDays as |weekDay|}}
{{#if weekDay.number}}
	<li>{{weekDay.number}} - {{weekDay.day}}</li>

{{/if}}
{{/each}}
</ul>
<br>
<br>
<br>
<br>
<h1>Twitter</h1>
<form {{action 'addTweet' on='submit'}}>
	<p>{{input type="text" value=newTweet}}<button>Send</button></p>
</form>
<ul>
	{{#each tweets as |tweet|}}
		{{!--<li>{{tweet.user}} - {{tweet.description}}</li>--}}
		<p>{{tweet.user}}</p>
		<p>{{input type="text" value=tweet.description}}<button{{action 'deleteTweet' tweet on='click'}}>x</button></p>
		{{else}}
			<h3>No hay tweets</h3>
	{{/each}}
</ul>
<button {{action 'logout' on='click'}} >Cerrar sesión</button>

