<h1>Hola Mundo!!</h1>

<button {{action 'doSomething'}} >Click</button>

<form {{action 'verifyUser' on='submit'}}>
	<p>Usuer: {{input type="text" value=user}}</p>
	<p>Password: {{input type="password" value=password}}</p>
	<button >VALIDATE</button>
</form>
<br>
<br>
<br>
<br>
{{link-to "Ir a lab" 'lab'}}
<br>
<br>
<br>
<br>
<br>
{{#link-to 'lab'}}
<p>Ir a lab</p>
{{/link-to}}
<br>
<br>
<br>

{{jquery-wrapper
	query=".dropdown-trigger"
	method='dropdown'
}}

{{outlet}}